body {
  background-image: url("../Images/Cards.jpg");
  text-align: center;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  font-weight: bold;
  color: goldenrod;
  font-size: 30px;
}
h2 {
  font-style: italic;
}
button {
  background-color: goldenrod;
  border-radius: 2px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
